{% extends 'base.html' %}
{% load static %}
{% block body %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<!-- Banner Section start -->
    <section class="banner-section index index-4">
        <div class="overlay">
            <div class="banner-content">
                <div class="container wow fadeInUp">
                    <div class="row justify-content-center align-items-center">
                        <div class="col-xl-8 col-md-8">
                            <div class="main-content">
                                <div class="top-area section-text text-center">
                                    <h5 class="sub-title">Esport coaching Platform</h5>
                                    <h1 class="title">Take your game to the next level</h1>
                                    <p>Get your game analyzed asynchronously by top quality coaches and start winning</p>
                                </div>
                                <div class="bottom-area d-xxl-flex justify-content-center">
                                    <form action="#" class="w-100" method="post">
                                        {% csrf_token %}
                                        <div class="form-group d-flex justify-content-between align-items-center">
                                            <div class="input-area d-flex align-items-center flex-auto">
                                                <img src="{% static 'assets/images/icon/search-icon-2.png' %}" alt="icon">
                                                <input type="text" placeholder="Search Coach">
                                            </div>
                                            <button class="cmn-btn">Find Now</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </section>
    <!-- Banner Section end -->

    <!-- Explore our Coaches start -->
    <section class="explore-coaches">
        <div class="overlay pt-120 pb-12h0">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-header text-center">
                            <h5 class="sub-title">IMPROVE WITH Games</h5>
                            <h2 class="title">Explore our Games</h2>
                            <!-- <p>Find Coaches of your eSports game</p> -->
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="swiper-container explore-slider">
                            <div class="swiper-wrapper">
                                {% for game in games %}
                                    <div class="swiper-slide">
                                        <img src="{% static 'assets/images/' %}{{ game.image }}" alt="{{ game.name }}">
                                    </div>
                                {% empty %}
                                    <div class="swiper-slide">
                                        <p>No games available</p>
                                    </div>
                                {% endfor %}
                            </div>

                            <div class="d-flex align-items-center justify-content-center">
                                <div class="swiper-pagination"></div>
                                <div class="swiper-button-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Explore our Coaches end -->

    <!-- How it works start -->
    <section class="how-works second">
        <div class="overlay pt-120 pb-120">
            <div class="container wow fadeInUp">
                <div class="row justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-header text-center">
                            <h5 class="sub-title">IMPROVE WITH COURSES & COACHES</h5>
                            <h2 class="title">Explore our Coaches</h2>
                            <p>Find Coaches of your eSports game</p>
                        </div>
                    </div>
                </div>
                <div class="popup-section justify-content-center text-center">
                    <h4>see how it works</h4>
                    <div class="popup-area pt-120 pb-120">
                        <div class="magnific-area position-relative d-flex align-items-center justify-content-around">
                            <a class="mfp-iframe popupvideo position-absolute" href="https://www.youtube.com/watch?v=Djz8Nc0Qxwk">
                                <img src="{% static 'assets/images/icon/popup-icon.png' %}" alt="icon">
                            </a>
                        </div>
                    </div>
                </div>
                <div class="row main-content">
                    <div class="col-md-4">
                        <div class="single-item text-center">
                            <div class="thumb">
                                <img src="{% static 'assets/images/icon/how-works-icon-1.png' %}" alt="icon">
                                <span class="xlr">01</span>
                            </div>
                            <div class="text-area">
                                <h5>Choose Your Game</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-item text-center">
                            <div class="thumb">
                                <img src="{% static 'assets/images/icon/how-works-icon-2.png' %}" alt="icon">
                                <span class="xlr">02</span>
                            </div>
                            <div class="text-area">
                                <h5>Find Your Coach</h5>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="single-item text-center">
                            <div class="thumb">
                                <img src="{% static 'assets/images/icon/how-works-icon-3.png' %}" alt="icon">
                                <span class="xlr">03</span>
                            </div>
                            <div class="text-area">
                                <h5>Become a pro</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- How it works end -->

    <!-- FAQs In start -->
    <section class="faqs-section">
        <div class="overlay pb-120">
            <div class="container">
                <div class="row d-flex justify-content-center">
                    <div class="col-lg-7">
                        <div class="section-header text-center">
                            <h5 class="sub-title">You have a Questions</h5>
                            <h3 class="title">We have answers</h3>
                            <p>If you haven’t found your answer to your questions, Contact Us</p>
                        </div>
                    </div>
                </div>
                <div class="row cus-mar justify-content-center">
                    <div class="col-lg-8">
                        <div class="accordion" id="accordionFaqs">
                            <div class="accordion-item">
                                <h6 class="accordion-header" id="headingLeftOne">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseLeftOne" aria-expanded="false"
                                        aria-controls="collapseLeftOne">
                                        WHAT IS EGAMLIO?
                                    </button>
                                </h6>
                                <div id="collapseLeftOne" class="accordion-collapse collapse"
                                    aria-labelledby="headingLeftOne" data-bs-parent="#accordionFaqs">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nibh ut odio tempus malesuada ac bibendum diam. In sollicitudin, dui a rutrum semper, lectus dui ultrices nisl, vitae facilisis arcu sem in ligula.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h6 class="accordion-header" id="headingLeftTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseLeftTwo" aria-expanded="false"
                                        aria-controls="collapseLeftTwo">
                                        I'VE MADE ORDER. WHAT NOW?
                                    </button>
                                </h6>
                                <div id="collapseLeftTwo" class="accordion-collapse collapse"
                                    aria-labelledby="headingLeftTwo" data-bs-parent="#accordionFaqs">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nibh ut odio tempus malesuada ac bibendum diam. In sollicitudin, dui a rutrum semper, lectus dui ultrices nisl, vitae facilisis arcu sem in ligula.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h6 class="accordion-header" id="headingLeftThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseLeftThree" aria-expanded="false"
                                        aria-controls="collapseLeftThree">
                                        CAN I GET A DISCOUNT ON THIS PRICE?
                                    </button>
                                </h6>
                                <div id="collapseLeftThree" class="accordion-collapse collapse"
                                    aria-labelledby="headingLeftThree" data-bs-parent="#accordionFaqs">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nibh ut odio tempus malesuada ac bibendum diam. In sollicitudin, dui a rutrum semper, lectus dui ultrices nisl, vitae facilisis arcu sem in ligula.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h6 class="accordion-header" id="headingLeftFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseLeftFour" aria-expanded="false"
                                        aria-controls="collapseLeftFour">
                                        HOW CAN I KNOW YOU ARE LEGIT?
                                    </button>
                                </h6>
                                <div id="collapseLeftFour" class="accordion-collapse collapse"
                                    aria-labelledby="headingLeftFour" data-bs-parent="#accordionFaqs">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nibh ut odio tempus malesuada ac bibendum diam. In sollicitudin, dui a rutrum semper, lectus dui ultrices nisl, vitae facilisis arcu sem in ligula.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item">
                                <h6 class="accordion-header" id="headingLeftFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseLeftFive" aria-expanded="false"
                                        aria-controls="collapseLeftFive">
                                        WHY GET A COACH FROM EGAMLIO?
                                    </button>
                                </h6>
                                <div id="collapseLeftFive" class="accordion-collapse collapse"
                                    aria-labelledby="headingLeftFive" data-bs-parent="#accordionFaqs">
                                    <div class="accordion-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec in nibh ut odio tempus malesuada ac bibendum diam. In sollicitudin, dui a rutrum semper, lectus dui ultrices nisl, vitae facilisis arcu sem in ligula.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- FAQs In end -->

    <!-- Call To Action start -->
    <section class="call-action">
        <div class="overlay pb-120">
            <div class="container wow fadeInUp">
                <div class="main-content">
                    <div class="row align-items-center justify-content-between">
                        <div class="col-lg-6">
                            <div class="text-area">
                                <div class="section-text">
                                    <h2 class="title">Improve Your  Skill Now!</h2>
                                    <p>Enjoy Your Gaming Experience More</p>
                                </div>
                                <a href="register.html" class="cmn-btn">Join Now</a>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="sec-image">
                                <img src="{% static 'assets/images/call-to-action.png' %}" alt="image">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Call To Action end -->

    <!-- Testomonial start -->
    <section class="testomonial">
        <div class="overlay pb-120">
            <div class="container wow fadeInUp">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <div class="section-text text-center">
                            <h5 class="sub-title">HEAR WHAT OUR PLAYERS HAVE TO SAY.</h5>
                            <h2 class="title">DON'T TAKE OUR WORD FOR IT</h2>
                            <p>Take your gaming skills to the next level in our Masterclass coaching</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="testimonials-carousel">
                            <div class="single-slide">
                                <div class="single">
                                    <div class="img-area">
                                        <img src="{% static 'assets/images/testimonials-img.png' %}" alt="image">
                                    </div>
                                    <div class="info-area">
                                        <p class="xlr">‘’Egamlio is awesome! Had a great session with Saksham and got to learn a lot from a single workshop.’’</p>
                                        <div class="bottom d-flex align-items-center">
                                            <div class="img-area">
                                                <img src="{% static 'assets/images/icon/check.png' %}" alt="image">
                                            </div>
                                            <p>JAYLON SARIS</p>
                                            <span>FIFA Gamer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slide">
                                <div class="single">
                                    <div class="img-area">
                                        <img src="{% static 'assets/images/testimonials-img.png' %}" alt="image">
                                    </div>
                                    <div class="info-area">
                                        <p class="xlr">‘’Egamlio is awesome! Had a great session with Saksham and got to learn a lot from a single workshop.’’</p>
                                        <div class="bottom d-flex align-items-center">
                                            <div class="img-area">
                                                <img src="{% static 'assets/images/icon/check.png' %}" alt="image">
                                            </div>
                                            <p>JAYLON SARIS</p>
                                            <span>FIFA Gamer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slide">
                                <div class="single">
                                    <div class="img-area">
                                        <img src="{% static 'assets/images/testimonials-img.png' %}" alt="image">
                                    </div>
                                    <div class="info-area">
                                        <p class="xlr">‘’Egamlio is awesome! Had a great session with Saksham and got to learn a lot from a single workshop.’’</p>
                                        <div class="bottom d-flex align-items-center">
                                            <div class="img-area">
                                                <img src="{% static 'assets/images/icon/check.png' %}" alt="image">
                                            </div>
                                            <p>JAYLON SARIS</p>
                                            <span>FIFA Gamer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slide">
                                <div class="single">
                                    <div class="img-area">
                                        <img src="{% static 'assets/images/testimonials-img.png' %}" alt="image">
                                    </div>
                                    <div class="info-area">
                                        <p class="xlr">‘’Egamlio is awesome! Had a great session with Saksham and got to learn a lot from a single workshop.’’</p>
                                        <div class="bottom d-flex align-items-center">
                                            <div class="img-area">
                                                <img src="{% static 'assets/images/icon/check.png' %}" alt="image">
                                            </div>
                                            <p>JAYLON SARIS</p>
                                            <span>FIFA Gamer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="single-slide">
                                <div class="single">
                                    <div class="img-area">
                                        <img src="{% static 'assets/images/testimonials-img.png' %}" alt="image">
                                    </div>
                                    <div class="info-area">
                                        <p class="xlr">‘’Egamlio is awesome! Had a great session with Saksham and got to learn a lot from a single workshop.’’</p>
                                        <div class="bottom d-flex align-items-center">
                                            <div class="img-area">
                                                <img src="{% static 'assets/images/icon/check.png' %}" alt="image">
                                            </div>
                                            <p>JAYLON SARIS</p>
                                            <span>FIFA Gamer</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testomonial end -->

{% endblock body %}